$main-background-color: blueviolet;
$main-font-color: white;

$a-menu-color: rgb(130,0,130);
$a-text-shadow: 2px rgba(f, f, f, 0.7);
$a-hover-color: white;

$color_purple_heart_approx: blueviolet;
$white: #fff;
$color_shady_lady_approx: darkgrey;
$color_seance_approx: rgb(130,0,130);
$black_50: rgba(0, 0, 0, 0.5);
$color_tangerine_approx: rgb(233, 144, 0);
$color_yellow_orange_approx: rgb(255, 184, 70);
$golden_grass:  goldenrod;

