@use 'modules/color';
@use 'modules/fonts';


//urls
$url_0: url(../bg/purple-abstract-bg.jpg);
$url_1: url(/images/05_thoth-hierophant.jpg);

//@extend-elements
//original selectors
//.scroll-arrow-l, .scroll-arrow-r
%extend_1 {
	font-family: $font_3, $font_4;
	font-size: 1.8rem;
	color: $color_shady_lady_approx;
}


body {
	font-family: $font_0, $font_1, $font_2;
	font-size: 2rem;
	background-color: $color_purple_heart_approx;
	color: $white;
	background-image: $url_0;
	background-position: center;
	margin: 0;
}

h1 {
	font-family: $font_0, $font_2;
	font-size: 4rem;
	text-align: center;
}

h2 {
	font-size: 3rem;
}

.scroll-arrow-l {
	@extend %extend_1;
	padding-left: 0;
	padding-right: 1rem;
}

.scroll-arrow-r {
	@extend %extend_1;
	padding-left: 2rem;
	padding-right: 0;
}

a {
	color: $color_seance_approx;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 2px rgba(f, f, f, 0.7);
	text-decoration: none;
	&:hover {
		color: $white;
		text-decoration: none;
	}
	&.thumb img {
		rotate: 5deg;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s ease-in-out;
		&:hover {
			rotate: 0deg;
			scale: 1.2%;
		}
	}
}

nav {
	display: block;
	ul {
		display: flex;
		justify-content: space-between;
		background-color: $black_50;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-inline-start: 20px;
		li {
			display: inline-flex;
			justify-content: flex-end;
			padding-right: 5vw;
			font-size: 3.2rem;
			font-weight: 600;
		}
	}
}

.container-love {
	display: flex;
}

aside {
	display: inline-flex;
	a p {
		font-size: 1.5rem;
		color: $color_tangerine_approx;
		text-align: center;
		font-weight: 600;
		margin-top: 2px;
		padding-top: 2px;
		&:visited {
			color: $color_tangerine_approx;
		}
		&:active {
			color: $color_yellow_orange_approx;
		}
	}
}

.card-overview {
	background-color: $black_50;
	display: block;
	margin: 5px;
	padding: 5px 30px;
	height: 80vh;
	overflow: auto;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  
	div {
		display: block;
		padding: 5px;
		margin: 5px auto;
  }
  
	img {
		display: block;
		margin: 0 auto;
		width: 80px;
		height: 120px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
	}
}

.card-details {
	display: flex;
	width: 80%;
	height: 80vh;
	border: 2px solid $golden_grass;
	h2 {
		text-align: center;
	}
}

.image-container img {
	border: 2px solid $golden_grass;
	display: block;
	background-color: $black_50;
	position: relative;
	height: auto;
	max-width: 52vh;
	margin: 1em;
	background-image: $url_1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
}