

// $main-background-color: blueviolet;
// $main-font-color: white;

// $a-menu-color: rgb(130,0,130);
// $a-text-shadow: 2px rgba(f, f, f, 0.7);
// $a-hover-color: white;

//colors
$color_0: blueviolet;
$color_1: #fff;
$color_2: darkgrey;
$color_3: rgb(130,0,130);
$color_4: rgba(0, 0, 0, 0.5);
$color_5: rgb(233, 144, 0);
$color_6: rgb(255, 184, 70);
$color_7:  goldenrod;